        <ul class="navbar-nav navbar-right">
          <li class="dropdown">
            <a href="{{ url_for('app.core.auth.callback') }}" class="btn btn-primary btn-block btn-icon-split">{{ __('Sign in') }}</a>
          </li>
        </ul>
