{% extends '/Core/Views/templates/default.twig' %}

{% block content %}
<div class="section-header">
    <h1><a href="../users">Users</a> / {{ uuid }}</h1>
</div>

<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                      <pre><code id="core_auth_adm_user_target" class="json"></code></pre>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block additionaljs %}
<script type="text/javascript" nonce="{{ csp_nonce.script_src }}">
$( document ).ready( function() {
    authenticator.authenticatedFetch( "{{ url_for('api.core.auth.adm.users.v1') }}/{{ uuid }}", { headers: { "Accept": "application/json" }} )
    .then( response => response.json() )
    .then( (data) => {
        document.getElementById("core_auth_adm_user_target").innerHTML = JSON.stringify(data,undefined, 4);
    }).catch(err => {
        // Error handling
    })
});
</script>
{% endblock %}
