{% extends '/Core/Views/templates/default.twig' %}

{% block content %}
          <div class="section-header">
            <h1>Reauthenticating</h1>
          </div>
            {{ __('The meaning of life the universe and everything.') }} 
            <div id="rjsf"></div>
            {% include '/Core/Views/templates/partials/flash.twig' %}
            
          </div>
{% endblock %}



{% block additionaljs %}
    <script type="text/javascript" nonce="{{ csp_nonce.script_src }}">



        window.authenticator = new Authenticator({
            tokenEndpoint: "https://id.industra.space/auth/realms/T1/protocol/openid-connect/token",
            authorizationEndpoint: "https://id.industra.space/auth/realms/t1/protocol/openid-connect/auth",
            clientId: "new-client-2",
            // redirectUri: "https://{{ hostname }}{{ caller }}",
            
        });

        window.authenticator.checkLogin().then((result) => {
            if(result.success) {
                console.log("Consumed query parameters and authenticated successfully. See result bellow!");
                console.log(result);
                document.cookie = 'AccessToken=' + localStorage.getItem("access_token") + '; SameSite=Lax; Secure; Path=/;';
            } else {
                authenticator.initiateLogin();
                console.log("There were no query parameters to do authentication with, so the call to checkLogin() was useless...")
            }
        });
        



    </script>

    <!--https://id.industra.space/auth/realms/T1/.well-known/openid-configuration -->

{% endblock %}
